/*
!.gitignore

!/Trabajo
/Trabajo/*
!/Trabajo/*.pdf

!/Prácticas
/Prácticas/*

!/Prácticas/P1
/Prácticas/P1/*
!/Prácticas/P1/*.pdf
!/Prácticas/P1/src

!/Prácticas/P2
/Prácticas/P2/*
!/Prácticas/P2/*.pdf
!/Prácticas/P2/src

!/Prácticas/P3
/Prácticas/P3/*
!/Prácticas/P3/*.pdf
!/Prácticas/P3/*.py
